{% extends 'layout.html' %}

{% block title %}Keyword movie search{% endblock %}

{% block content %}
<div style="margin-top: 50px; margin-bottom: 50px">
    <form method="get" action="/search">
        <div class="container-fluid">
            <div class="col-xs-offset-3 col-xs-6">
                <div class="input-group">
              <input type="text" class="form-control" name='name' value="{{ name }}" placeholder="搜索">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class='glyphicon glyphicon-search' aria-hidden="true"></span></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>
</div>
<div class="col-sm-offset-2 col-sm-8" style="margin-bottom: 200px">

</div>
{% endblock %}